.field{
  margin: 20px;
}

.amount_input{
  margin-right: 10px;
  background-color: #d7e6fc;
  border: 1px solid black;
}

.render_markers_button{
  background-color: #d7e6fc;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
}



#map {
  width: calc(100vw - 60px);
  height: calc(100vh - 80px);
  margin: 0 15px;
}
